Repository squirrel289/temple: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-python, lint-js, test-python-affected

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: lint-shell
        name: "lint: shell (bash -n)"
        entry: scripts/pre-commit/lint-shell.sh
        language: system
        pass_filenames: false
        stages: [pre-push]

      - id: lint-yaml
        name: "lint: yaml (yamllint)"
        entry: scripts/pre-commit/lint-yaml.sh
        language: system
        pass_filenames: false

      - id: lint-python
        name: "lint: python"
        entry: scripts/pre-commit/lint-python.sh
        language: system
        types: [python]

      - id: lint-js
        name: "lint: js/ts (ESLint)"
        entry: scripts/pre-commit/lint-js.sh
        language: system
        pass_filenames: false
        files: ^vscode-temple-linter/src/.*\.ts$

      - id: secure-secrets-scan
        name: "secure: secrets scan"
        # Wrapper runs scan + compare (ensures compare logic identical to CI).
        entry: scripts/pre-commit/secure-find-secrets.sh
        language: system
        pass_filenames: false

      - id: test-python-affected
        name: "test: python affected"
        entry: scripts/pre-commit/test-python.sh
        language: system
        pass_filenames: true
        types: [python]

      - id: validate-benchmarks
        name: "validate: benchmarks quick"
        entry: scripts/pre-commit/validate-benchmarks.sh
        language: system
        pass_filenames: false
        stages: [pre-push]

      - id: build-docs
        name: "build: docs (pre-push)"
        entry: scripts/pre-commit/build-docs.sh
        language: system
        pass_filenames: false
        stages: [pre-push]

  # Official detect-secrets hook intentionally removed in favor of the
  # `secure-secrets-scan` wrapper defined above. The wrapper provides
  # repository-specific filtering and comparison logic to match CI.

docs: fix Sphinx autodoc to reference correct module
  temple-linter/docs/api.rst
Due: none

ci: fix ESLint workflow paths and remove chmod calls
  .github/workflows/eslint.yml
Due: none

ci: update lint-yaml.sh to use venv_utils helper
  scripts/pre-commit/lint-yaml.sh
Due: none

ci: exclude dependency/build directories from shell linting
  scripts/pre-commit/lint-shell.sh
Due: none

ci: configure shellcheck to only fail on errors
  scripts/pre-commit/lint-shell.sh
Due: none

Update setup-hooks.sh: node linter install, safe rm, no obsolete yamllint files (PR #4 sync)
  scripts/setup-hooks.sh
Due: none

refactor: modernize CI/CD and dependency management with uv and pyproject.toml
  .github/workflow-templates/node-setup.yml
  .github/workflow-templates/python-job.yml
  .github/workflow-templates/python-setup.yml
  .github/workflows/asv_publish.yml
  .github/workflows/auto_resolve_reviews.yml
  .github/workflows/benchmarks.yml
  .github/workflows/codeql.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/docs.yml
  .github/workflows/eslint.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  temple-linter/pyproject.toml
  temple.code-workspace
  temple/pyproject.toml
Due: none

ci(workflows): consolidate analysis workflows and fix CI wiring
  .github/actions/setup-node/action.yml
  .github/actions/setup-python/action.yml
  .github/scripts/configure_asv_machine.sh
  .github/workflow-templates/node-setup.yml
  .github/workflow-templates/python-job.yml
  .github/workflow-templates/python-setup.yml
  .github/workflows/.yamllint
  .github/workflows/asv_publish.yml
  .github/workflows/auto_resolve_reviews.yml
  .github/workflows/benchmarks.yml
  .github/workflows/codeql.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/docs.yml
  .github/workflows/eslint.yml
  .github/workflows/static-analysis.yml
  .pre-commit-config.yaml
  .yamllint
  scripts/pre-commit/collect-runner-info.sh
  scripts/pre-commit/lint-docs.sh
  scripts/pre-commit/lint-js.sh
  scripts/pre-commit/lint-python.sh
  scripts/pre-commit/lint-yaml.sh
  scripts/pre-commit/test-python.sh
Due: none

ci(tests): split test jobs and fix local package wiring
  .github/workflows/tests.yml
  scripts/ci/pyproject.toml
  temple-linter/pyproject.toml
  temple/pyproject.toml
Due: none

docs(backlog): finalize and archive work items 57-62
  backlog/archive/57_fix_ci_workflow_wiring.md
  backlog/archive/58_fix_scripts_ci_pyproject_dependency_spec.md
  backlog/archive/59_split_tests_workflow_jobs.md
  backlog/archive/60_narrow_python_lint_scope.md
  backlog/archive/61_fix_temple_linter_packaged_grammar.md
  backlog/archive/62_update_auto_resolve_workflow_triggers.md
Due: none

ci(tooling): stabilize hook and workflow command execution
  .github/workflows/auto_resolve_reviews.yml
  .github/workflows/benchmarks.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  backlog/63_stabilize_uv_tooling_and_ci_commands.md
  backlog/64_fix_linter_packaging_entrypoints.md
  backlog/65_complete_temple_native_language_core.md
  backlog/66_integrate_semantic_validation_in_temple_linter.md
  backlog/67_fix_lsp_base_diagnostics_transport.md
  backlog/68_repair_vscode_extension_integration.md
  backlog/69_align_docs_linting_and_vscode_workflow.md
  scripts/ci/venv_utils.sh
  scripts/pre-commit/lint-docs.sh
  scripts/pre-commit/lint-python.sh
  scripts/pre-commit/lint-yaml.sh
Due: none

chore(backlog): finalize work item 63
  backlog/archive/63_stabilize_uv_tooling_and_ci_commands.md
Due: none

fix(temple-linter): align lsp entrypoint and packaging
  backlog/64_fix_linter_packaging_entrypoints.md
  temple-linter/pyproject.toml
  temple-linter/setup.py
  temple-linter/src/temple_linter/lsp_server.py
  temple-linter/tests/test_lsp_entrypoint.py
Due: lint-python, test-python-affected

chore(backlog): finalize work item 64
  backlog/archive/64_fix_linter_packaging_entrypoints.md
Due: none

feat(temple): add mvp set elif and expression support
  backlog/65_complete_temple_native_language_core.md
  temple/src/temple/compiler/serializers/base.py
  temple/src/temple/compiler/serializers/html_serializer.py
  temple/src/temple/compiler/serializers/json_serializer.py
  temple/src/temple/compiler/serializers/markdown_serializer.py
  temple/src/temple/compiler/serializers/yaml_serializer.py
  temple/src/temple/compiler/type_checker.py
  temple/src/temple/expression_eval.py
  temple/src/temple/lark_parser.py
  temple/src/temple/typed_ast.py
  temple/src/temple/typed_grammar.lark
  temple/tests/test_mvp_language_core.py
Due: lint-python, test-python-affected

chore(backlog): track item 65 implementation progress
  backlog/65_complete_temple_native_language_core.md
Due: none

feat(temple-linter): integrate semantic diagnostics
  backlog/66_integrate_semantic_validation_in_temple_linter.md
  temple-linter/src/temple_linter/linter.py
  temple-linter/src/temple_linter/services/lint_orchestrator.py
  temple-linter/tests/test_semantic_linter.py
Due: lint-python, test-python-affected

chore(backlog): track item 66 implementation progress
  backlog/66_integrate_semantic_validation_in_temple_linter.md
Due: none

fix(temple-linter): bind base diagnostics to session transport
  backlog/67_fix_lsp_base_diagnostics_transport.md
  temple-linter/src/temple_linter/lsp_server.py
  temple-linter/src/temple_linter/services/base_linting_service.py
  temple-linter/src/temple_linter/services/lint_orchestrator.py
  temple-linter/tests/test_lsp_transport_wiring.py
Due: lint-python, test-python-affected

chore(backlog): track item 67 implementation progress
  backlog/67_fix_lsp_base_diagnostics_transport.md
Due: none

fix(vscode): simplify extension integration wiring
  backlog/68_repair_vscode_extension_integration.md
  vscode-temple-linter/src/extension.ts
Due: lint-js

chore(backlog): track item 68 implementation progress
  backlog/68_repair_vscode_extension_integration.md
Due: none

docs(workflow): align setup and vscode dev tooling
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CONTRIBUTING.md
  README.md
  backlog/69_align_docs_linting_and_vscode_workflow.md
  vscode-temple-linter/README.md
Due: none

chore(backlog): track item 69 implementation progress
  backlog/69_align_docs_linting_and_vscode_workflow.md
Due: none

chore(backlog): finalize work items 65-69
  backlog/archive/65_complete_temple_native_language_core.md
  backlog/archive/66_integrate_semantic_validation_in_temple_linter.md
  backlog/archive/67_fix_lsp_base_diagnostics_transport.md
  backlog/archive/68_repair_vscode_extension_integration.md
  backlog/archive/69_align_docs_linting_and_vscode_workflow.md
Due: none

docs(repo): automate markdown structure trees with scoped notes
  .github/workflows/static-analysis.yml
  .pre-commit-config.yaml
  backlog/47_documentation_updates_for_core_integration.md
  examples/.structure-notes.yaml
  examples/README.md
  scripts/docs/sync_readme_structure.py
  scripts/pre-commit/test-python.sh
  temple-linter/.structure-notes.yaml
  temple-linter/README.md
  vscode-temple-linter/.structure-notes.yaml
  vscode-temple-linter/README.md
Due: lint-python, test-python-affected

feat(temple-linter): add native LSP providers and perf checks
  .github/workflows/tests.yml
  backlog/45_implement_lsp_language_features.md
  backlog/46_integration_and_performance_tests.md
  temple-linter/src/temple_linter/lsp_features.py
  temple-linter/src/temple_linter/lsp_server.py
  temple-linter/tests/test_e2e_performance.py
  temple-linter/tests/test_lsp_features.py
  temple/src/temple/lark_parser.py
Due: lint-python, test-python-affected

chore(backlog): update items 45-47 with commit and test metadata
  backlog/45_implement_lsp_language_features.md
  backlog/46_integration_and_performance_tests.md
  backlog/47_documentation_updates_for_core_integration.md
Due: none

ci: change pre-commit to validate file structure accuracy instead of applying updates
  .pre-commit-config.yaml
Due: none

feat(semantic): seed type checker from schema for lint diagnostics
  backlog/44_implement_semantic_validation.md
  temple-linter/tests/test_semantic_linter.py
  temple/src/temple/compiler/type_checker.py
  temple/tests/types/test_type_checker.py
Due: lint-python, test-python-affected

ci(docs): scope readme-structure validation to in-scope files
  .github/workflows/static-analysis.yml
  .pre-commit-config.yaml
  scripts/docs/sync_readme_structure.py
Due: lint-python, test-python-affected

ci(workflows): add vscode package validation to static analysis
  .github/workflows/static-analysis.yml
  .pre-commit-config.yaml
  scripts/pre-commit/validate-vscode-package.sh
Due: none

feat(vscode): harden LSP init contract and packaging checks
  backlog/57_vscode_packaging_and_init_contract_hardening.md
  temple-linter/src/temple_linter/lsp_server.py
  temple-linter/tests/test_lsp_mvp_smoke.py
  vscode-temple-linter/package.json
  vscode-temple-linter/src/extension.ts
Due: lint-python, lint-js, test-python-affected

chore(release): add license metadata and MVP release docs
  CHANGELOG.md
  LICENSE
  README.md
  backlog/58_mvp_release_readiness_docs_and_metadata.md
  temple-linter/README.md
  temple-linter/pyproject.toml
  temple/pyproject.toml
  vscode-temple-linter/README.md
Due: none

chore(backlog): track MVP hardening commits across work items
  backlog/44_implement_semantic_validation.md
  backlog/45_implement_lsp_language_features.md
  backlog/46_integration_and_performance_tests.md
  backlog/47_documentation_updates_for_core_integration.md
  backlog/57_vscode_packaging_and_init_contract_hardening.md
  backlog/58_mvp_release_readiness_docs_and_metadata.md
Due: none

feat(temple): add typed filter pipeline support
  backlog/54_complete_temple_native.md
  temple/src/temple/__init__.py
  temple/src/temple/compiler/type_checker.py
  temple/src/temple/expression_eval.py
  temple/src/temple/filter_registry.py
  temple/tests/test_filter_registry.py
  temple/tests/test_mvp_language_core.py
  temple/tests/types/test_type_checker.py
Due: lint-python, test-python-affected

feat(sdk): add adapter interface contracts and tests
  backlog/55_adapter_spec_impl.md
  temple/src/temple/sdk/__init__.py
  temple/src/temple/sdk/adapter.py
  temple/tests/test_adapter_sdk.py
Due: lint-python, test-python-affected
