Repository squirrel289/temple: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-python, lint-js, test-python-affected, validate-benchmarks, build-docs

lint-yaml:
  name: 'lint: yaml (yamllint)'
  entry: uv tool run yamllint
  language: system
  pass_filenames: true
  stages:
  - pre-commit

lint-python:
  name: 'lint: python (ruff)'
  entry: uv tool run ruff check
  language: system
  pass_filenames: true
  stages:
  - pre-commit

lint-js:
  name: 'lint: js/ts (ESLint)'
  entry: bash -c "cd vscode-temple-linter && npx eslint"
  language: system
  pass_filenames: true
  stages:
  - pre-commit

test-python-affected:
  name: 'test: python (pytest)'
  entry: bash -c "uv tool run pytest"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-benchmarks:
  name: 'validate: benchmarks quick'
  entry: bash -c "cd temple && uv pip run pytest"
  language: system
  pass_filenames: false
  stages:
  - pre-push

build-docs:
  name: 'build: docs (sphinx)'
  entry: bash -c "cd temple-linter/docs && uv pip run sphinx-build -b html . _build/html"
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(adapters): add jinja2 adapter prototype
  backlog/56_jinja2_adapter_prototype.md
  temple/src/temple/adapters/__init__.py
  temple/src/temple/adapters/jinja2_adapter.py
  temple/tests/test_jinja2_adapter.py
Due: lint-python, test-python-affected, validate-benchmarks

test(parity): add native-vs-adapter parity suite
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  backlog/52_parity_tests_and_ci.md
  scripts/pre-commit/test-temple-parity.sh
  temple/tests/parity/fixtures/filter_argument_undefined.tmpl
  temple/tests/parity/fixtures/manifest.json
  temple/tests/parity/fixtures/missing_property.tmpl
  temple/tests/parity/fixtures/undefined_variable.tmpl
  temple/tests/parity/fixtures/valid_pipeline.tmpl
  temple/tests/parity/test_native_vs_jinja2_parity.py
Due: lint-yaml, lint-python, test-python-affected, validate-benchmarks

docs(release): publish ADR-003 and adapter spec notes
  CHANGELOG.md
  backlog/53_publish_adr_and_spec.md
  temple/docs/release/ADR003_ADAPTER_SPEC_ANNOUNCEMENT.md
Due: none

chore(backlog): track commits for MVP actions 52-56
  backlog/52_parity_tests_and_ci.md
  backlog/53_publish_adr_and_spec.md
  backlog/54_complete_temple_native.md
  backlog/55_adapter_spec_impl.md
  backlog/56_jinja2_adapter_prototype.md
Due: none

chore(vscode): add extension publisher metadata
  vscode-temple-linter/package.json
Due: none

chore(backlog): finalize and archive MVP work items
  backlog/README.md
  backlog/archive/44_implement_semantic_validation.md
  backlog/archive/45_implement_lsp_language_features.md
  backlog/archive/46_integration_and_performance_tests.md
  backlog/archive/47_documentation_updates_for_core_integration.md
  backlog/archive/52_parity_tests_and_ci.md
  backlog/archive/53_publish_adr_and_spec.md
  backlog/archive/54_complete_temple_native.md
  backlog/archive/55_adapter_spec_impl.md
  backlog/archive/56_jinja2_adapter_prototype.md
  backlog/archive/57_vscode_packaging_and_init_contract_hardening.md
  backlog/archive/58_mvp_release_readiness_docs_and_metadata.md
Due: none

docs(adr): update ADR 003 for adapter architecture and Jinja2 integration
  temple/docs/adr/003-market-role-and-adapter-architecture.md
Due: none

docs: add backlog entries for Jinja2 compare op, ASV workflow, and CI venv bugs discovered by local codex code review
  backlog/70_fix_jinja2_compare_operator_translation.md
  backlog/71_fix_asv_workflow_execution_context.md
  backlog/72_bootstrap_ci_venv_before_yaml_lint.md
Due: none

fix(adapters): translate Jinja2 compare operators to Python syntax
  temple/src/temple/adapters/jinja2_adapter.py
  temple/tests/test_jinja2_adapter.py
Due: lint-python, test-python-affected, validate-benchmarks

chore: finalize work item #70 - Jinja2 operator translation complete
  backlog/70_fix_jinja2_compare_operator_translation.md
Due: none

fix(ci): set working-directory for ASV commands in benchmarks workflow
  .github/workflows/benchmarks.yml
Due: lint-yaml

chore: finalize work item #71 - ASV workflow context fix complete
  backlog/71_fix_asv_workflow_execution_context.md
Due: none

fix(ci): bootstrap CI venv in lint-yaml job before running yamllint
  .github/workflows/static-analysis.yml
Due: lint-yaml

chore: finalize work item #72 - CI venv bootstrap complete
  backlog/72_bootstrap_ci_venv_before_yaml_lint.md
Due: none

docs: create activity-log structure for mechanized session capture
  temple/docs/activity-log/MECHANIZATION.md
  temple/docs/activity-log/README.md
  temple/docs/activity-log/TEMPLATE.md
Due: none

docs(planning): add ADR-005 and base-lint execution backlog
  README.md
  backlog/73_lock_base_lint_strategy_and_publish_adr_005.md
  backlog/74_implement_base_lint_strategy_resolver_and_capability_registry.md
  backlog/75_implement_collocated_mirror_ghost_files_and_diagnostic_remap.md
  backlog/76_generalize_focus_mode_and_diagnostic_hygiene_across_base_types.md
  backlog/77_add_base_lint_queueing_adaptive_debounce_and_observability.md
  backlog/README.md
  temple/docs/ARCHITECTURE.md
  temple/docs/adr/005-base-lint-strategy-and-diagnostics-pipeline.md
Due: none

chore(backlog): finalize and archive work item 73
  backlog/74_implement_base_lint_strategy_resolver_and_capability_registry.md
  backlog/README.md
  backlog/archive/73_lock_base_lint_strategy_and_publish_adr_005.md
  temple/docs/adr/005-base-lint-strategy-and-diagnostics-pipeline.md
Due: none

chore(backlog): start work item 74
  backlog/74_implement_base_lint_strategy_resolver_and_capability_registry.md
Due: none

feat(vscode): add strategy resolver and generated temple grammars
  vscode-temple-linter/.vscodeignore
  vscode-temple-linter/README.md
  vscode-temple-linter/package-lock.json
  vscode-temple-linter/package.json
  vscode-temple-linter/scripts/generate-syntaxes.js
  vscode-temple-linter/src/extension.ts
  vscode-temple-linter/syntaxes/templated-any.tmLanguage.json
  vscode-temple-linter/syntaxes/temple.injection.tmLanguage.json
  vscode-temple-linter/test/runTest.js
  vscode-temple-linter/test/suite/index.js
  vscode-temple-linter/test/suite/integration.test.js
Due: none

chore(backlog): finalize and archive work item 74
  backlog/75_implement_collocated_mirror_ghost_files_and_diagnostic_remap.md
  backlog/76_generalize_focus_mode_and_diagnostic_hygiene_across_base_types.md
  backlog/77_add_base_lint_queueing_adaptive_debounce_and_observability.md
  backlog/README.md
  backlog/archive/74_implement_base_lint_strategy_resolver_and_capability_registry.md
Due: none

fix(vscode): collocate mirror ghost files and clean lifecycle
  vscode-temple-linter/package.json
  vscode-temple-linter/src/extension.ts
  vscode-temple-linter/test/suite/integration.test.js
Due: none

chore(backlog): finalize and archive work item 75
  backlog/76_generalize_focus_mode_and_diagnostic_hygiene_across_base_types.md
  backlog/77_add_base_lint_queueing_adaptive_debounce_and_observability.md
  backlog/README.md
  backlog/archive/75_implement_collocated_mirror_ghost_files_and_diagnostic_remap.md
Due: none

fix(linter): improve diagnostic clarity and dedupe behavior
  temple-linter/src/temple_linter/diagnostic_converter.py
  temple-linter/src/temple_linter/linter.py
  temple-linter/src/temple_linter/services/lint_orchestrator.py
  temple-linter/src/temple_linter/services/token_cleaning_service.py
  temple-linter/tests/test_diagnostic_converter.py
  temple-linter/tests/test_integration.py
  temple-linter/tests/test_linter.py
  temple-linter/tests/test_lsp_transport_wiring.py
Due: lint-python, test-python-affected, validate-benchmarks

chore(backlog): add work item 78 and finalize item 76
  backlog/78_add_author_controlled_whitespace_trim_tokens.md
  backlog/README.md
  backlog/archive/76_generalize_focus_mode_and_diagnostic_hygiene_across_base_types.md
Due: none

perf(lsp): debounce base lint and guard slow bridge requests
  temple-linter/src/temple_linter/lsp_server.py
  temple-linter/src/temple_linter/services/base_linting_service.py
  temple-linter/tests/test_base_linting_service.py
  temple-linter/tests/test_e2e_performance.py
  temple-linter/tests/test_lsp_mvp_smoke.py
Due: lint-python, test-python-affected, validate-benchmarks

chore(backlog): finalize and archive work item 77
  backlog/78_add_author_controlled_whitespace_trim_tokens.md
  backlog/README.md
  backlog/archive/77_add_base_lint_queueing_adaptive_debounce_and_observability.md
Due: none

feat(core): anchor trim semantics and dedupe whitespace controls
  backlog/78_add_author_controlled_whitespace_trim_tokens.md
  temple-linter/src/temple_linter/services/token_cleaning_service.py
  temple-linter/tests/test_integration.py
  temple/src/temple/lark_parser.py
  temple/src/temple/template_renderer.py
  temple/src/temple/template_tokenizer.py
  temple/src/temple/typed_grammar.lark
  temple/src/temple/whitespace_control.py
  temple/tests/test_mvp_language_core.py
  temple/tests/test_template_renderer.py
  temple/tests/test_tokenizer.py
Due: lint-python, test-python-affected, validate-benchmarks

refactor(linter): add core span metadata cleaning contract
  temple-linter/src/temple_linter/services/base_cleaning_contract.py
  temple-linter/src/temple_linter/services/base_cleaning_policies.py
  temple-linter/src/temple_linter/services/token_cleaning_service.py
  temple/src/temple/defaults.py
  temple/src/temple/template_spans.py
  temple/tests/test_template_spans.py
Due: lint-python, test-python-affected, validate-benchmarks

refactor(lsp): align feature spans with core metadata
  temple-linter/src/temple_linter/lsp_features.py
  temple-linter/tests/test_lsp_features.py
Due: lint-python, test-python-affected, validate-benchmarks

fix(parser): handle else-if conditions with trim-aware whitespace
  temple-linter/tests/test_diagnostic_converter.py
  temple/src/temple/lark_parser.py
  temple/tests/test_lark_parser_advanced.py
Due: lint-python, test-python-affected, validate-benchmarks

refactor(linter): retire legacy preprocessing and mapping modules
  temple-linter/src/temple_linter/base_format_linter.py
  temple-linter/src/temple_linter/diagnostics.py
  temple-linter/src/temple_linter/template_mapping.py
  temple-linter/src/temple_linter/template_preprocessing.py
  temple-linter/tests/test_base_format_linter.py
  temple-linter/tests/test_diagnostics.py
  temple-linter/tests/test_preprocessing.py
Due: lint-python, test-python-affected, validate-benchmarks

feat(defaults): add generated defaults sync and drift checks
  .github/workflows/static-analysis.yml
  .pre-commit-config.yaml
  scripts/pre-commit/validate-generated-defaults.sh
  shared/temple-defaults.json
  temple-linter/src/temple_linter/lsp_server.py
  temple-linter/src/temple_linter/services/base_linting_service.py
  temple-linter/src/temple_linter/services/lint_orchestrator.py
  temple-linter/tests/test_lsp_mvp_smoke.py
  temple-linter/tests/test_semantic_linter.py
  temple/src/temple/__init__.py
  temple/src/temple/defaults.py
  temple/src/temple/template_tokenizer.py
  vscode-temple-linter/package.json
  vscode-temple-linter/scripts/generate-defaults.js
  vscode-temple-linter/src/defaults.ts
  vscode-temple-linter/src/extension.ts
Due: lint-yaml, lint-python, test-python-affected, validate-benchmarks

docs(backlog): reduce README to essential guidance
  backlog/README.md
Due: none

feat(docs): add include overrides and strict marker parsing
  scripts/docs/sync_readme_structure.py
  temple-linter/.structure-notes.yaml
  temple-linter/README.md
  temple-linter/uv.lock
  tests/test_sync_readme_structure.py
Due: lint-yaml, lint-python, test-python-affected, validate-benchmarks

chore(backlog): finalize and archive work items 80-85
  backlog/archive/80_replace_linter_regex_line_parsing_with_core_token_span_metadata.md
  backlog/archive/81_align_lsp_feature_span_detection_with_trim_aware_core_scanning.md
  backlog/archive/82_remove_regex_else_if_extraction_and_parse_from_grammar_nodes.md
  backlog/archive/83_retire_legacy_template_preprocessing_and_template_mapping_modules.md
  backlog/archive/84_define_base_cleaning_contract_and_markdown_policy_adapter.md
  backlog/archive/85_centralize_temple_default_delimiters_and_extensions_across_layers.md
Due: none

ci: change pre-commit to validate file structure accuracy instead of applying updates
  .pre-commit-config.yaml
Due: lint-yaml

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$
  lint-python: any of: \.py$
  lint-js: any of: ^vscode-temple-linter/src/.*\.ts$ and \.(js|mjs|cjs)$
  test-python-affected: any of: \.py$
  validate-benchmarks: any of: \.py$
  build-docs: any of: \.py$ and \.(yaml|yml)$ and \.(md|markdown|mdown)$
