Repository squirrel289/temple: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, validate-readme-structure, lint-python, lint-js, test-python-affected, validate-benchmarks, build-docs

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: lint-shell
        name: "lint: shell (bash -n)"
        entry: bash -n
        language: system
        pass_filenames: true
        types: [shell]
        stages: [pre-push]

      - id: lint-yaml
        name: "lint: yaml (yamllint)"
        entry: scripts/pre-commit/lint-yaml.sh
        language: system
        pass_filenames: true
        types: [yaml]
        stages: [pre-commit]

      - id: validate-readme-structure
        name: "docs: confirm markdown structure blocks match current state (sync_readme_structure.py)"
        entry: python3 scripts/docs/sync_readme_structure.py --check
        language: system
        pass_filenames: true
        files: \.md$
        stages: [pre-commit, pre-push]

      - id: lint-python
        name: "lint: python (ruff)"
        entry: scripts/pre-commit/lint-python.sh
        language: system
        pass_filenames: true
        types: [python]
        stages: [pre-commit]

      - id: lint-js
        name: "lint: js/ts (ESLint)"
        entry: bash -c "cd vscode-temple-linter && npx eslint"
        language: system
        pass_filenames: true
        types: [javascript]
        files: ^vscode-temple-linter/src/.*\.ts$
        stages: [pre-commit]

      - id: validate-vscode-package
        name: "validate: vscode extension package"
        entry: scripts/pre-commit/validate-vscode-package.sh
        language: system
        pass_filenames: false
        stages: [pre-push]

      - id: secure-secrets-scan
        name: "secure: secrets scan (detect-secrets)"
        entry: scripts/pre-commit/secure-find-secrets.sh
        language: system
        pass_filenames: true
        stages: [pre-commit]

      - id: test-python-affected
        name: "test: python (pytest)"
        entry: scripts/pre-commit/test-python.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]

      - id: validate-benchmarks
        name: "validate: benchmarks quick"
        entry: scripts/pre-commit/validate-benchmarks.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-push]

      - id: build-docs
        name: "build: docs (sphinx)"
        entry: scripts/pre-commit/build-docs.sh
        language: system
        pass_filenames: false
        types: [python, yaml, markdown]
        stages: [pre-push]

fix(ci): sync examples structure block with tracked tree
  examples/README.md
Due: validate-readme-structure

fix(review): address unresolved runtime and codeql feedback
  .pre-commit-config.yaml
  scripts/pre-commit/test-python.sh
  temple-linter/tests/test_e2e_performance.py
  temple/src/temple/adapters/jinja2_adapter.py
  temple/src/temple/compiler/serializers/base.py
  temple/src/temple/compiler/serializers/html_serializer.py
  temple/src/temple/compiler/serializers/json_serializer.py
  temple/src/temple/compiler/serializers/markdown_serializer.py
  temple/src/temple/compiler/serializers/yaml_serializer.py
  temple/src/temple/lark_parser.py
  temple/src/temple/template_renderer.py
  temple/tests/serializers/test_serializers_base.py
  temple/tests/test_template_renderer.py
Due: lint-yaml, lint-python, test-python-affected, validate-benchmarks

ci(secrets): restore baseline proposal workflow
  .github/workflows/static-analysis.yml
Due: lint-yaml

fix(codeql): avoid ineffectual overload stubs
  temple/src/temple/lark_parser.py
Due: lint-python, test-python-affected, validate-benchmarks

ci(review): remove checkout from setup-node action
  .github/actions/setup-node/action.yml
  .github/workflows/.yamllint
Due: lint-yaml

fix(review): address remaining copilot feedback items
  temple-linter/src/temple_linter/diagnostic_converter.py
  temple/pyproject.toml
  temple/src/temple/sdk/adapter.py
Due: lint-python, test-python-affected, validate-benchmarks

ci(codeql): emit per-language analyses for merge gate
  .github/workflows/static-analysis.yml
Due: lint-yaml

chore(backlog): finalize and archive items 86 and 87
  backlog/88_validate_diagnostics_pipeline_and_prepare_patch_release.md
  backlog/89_implement_projection_snapshots_for_shadow_bridge.md
  backlog/92_add_templated_format_language_ids_and_generated_grammars.md
  backlog/archive/86_disable_auto_reassociation_and_lock_template_language_identity.md
  backlog/archive/87_align_manifest_docs_and_integration_tests_for_templated_any.md
Due: validate-readme-structure

chore(backlog): finalize and archive items 89 and 93
  backlog/88_validate_diagnostics_pipeline_and_prepare_patch_release.md
  backlog/90_implement_shadow_document_lifecycle_and_diagnostic_ownership.md
  backlog/91_proxy_base_language_lsp_features_with_edit_safety.md
  backlog/94_define_parity_matrix_and_pr_scope_for_shadow_bridge_rollout.md
  backlog/95_run_unsandboxed_vscode_parity_validation_and_close_shadow_bridge.md
  backlog/archive/89_implement_projection_snapshots_for_shadow_bridge.md
  backlog/archive/93_harden_transport_timeouts_and_watched_files_noise.md
Due: validate-readme-structure

chore(backlog): finalize archived shadow-bridge work items (#12)
  backlog/88_validate_diagnostics_pipeline_and_prepare_patch_release.md
  backlog/90_implement_shadow_document_lifecycle_and_diagnostic_ownership.md
  backlog/91_proxy_base_language_lsp_features_with_edit_safety.md
  backlog/92_add_templated_format_language_ids_and_generated_grammars.md
  backlog/94_define_parity_matrix_and_pr_scope_for_shadow_bridge_rollout.md
  backlog/95_run_unsandboxed_vscode_parity_validation_and_close_shadow_bridge.md
  backlog/archive/86_disable_auto_reassociation_and_lock_template_language_identity.md
  backlog/archive/87_align_manifest_docs_and_integration_tests_for_templated_any.md
  backlog/archive/89_implement_projection_snapshots_for_shadow_bridge.md
  backlog/archive/93_harden_transport_timeouts_and_watched_files_noise.md
Due: validate-readme-structure
