Repository squirrel289/temple: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, validate-readme-structure, lint-python, lint-js, test-python-affected, validate-benchmarks, build-docs

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: lint-shell
        name: "lint: shell (bash -n)"
        entry: bash -n
        language: system
        pass_filenames: true
        types: [shell]
        stages: [pre-push]

      - id: lint-yaml
        name: "lint: yaml (yamllint)"
        entry: scripts/pre-commit/lint-yaml.sh
        language: system
        pass_filenames: true
        types: [yaml]
        stages: [pre-commit]

      - id: validate-readme-structure
        name: "docs: confirm markdown structure blocks match current state (sync_readme_structure.py)"
        entry: python3 scripts/docs/sync_readme_structure.py --check
        language: system
        pass_filenames: true
        files: \.md$
        stages: [pre-commit, pre-push]

      - id: lint-python
        name: "lint: python (ruff)"
        entry: scripts/pre-commit/lint-python.sh
        language: system
        pass_filenames: true
        types: [python]
        stages: [pre-commit]

      - id: lint-js
        name: "lint: js/ts (ESLint)"
        entry: bash -c "cd vscode-temple-linter && npx eslint"
        language: system
        pass_filenames: true
        types: [javascript]
        files: ^vscode-temple-linter/src/.*\.ts$
        stages: [pre-commit]

      - id: validate-vscode-package
        name: "validate: vscode extension package"
        entry: scripts/pre-commit/validate-vscode-package.sh
        language: system
        pass_filenames: false
        stages: [pre-push]

      - id: secure-secrets-scan
        name: "secure: secrets scan (detect-secrets)"
        entry: scripts/pre-commit/secure-find-secrets.sh
        language: system
        pass_filenames: true
        stages: [pre-commit]

      - id: test-python-affected
        name: "test: python (pytest)"
        entry: scripts/pre-commit/test-python.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]

      - id: validate-benchmarks
        name: "validate: benchmarks quick"
        entry: scripts/pre-commit/validate-benchmarks.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-push]

      - id: build-docs
        name: "build: docs (sphinx)"
        entry: scripts/pre-commit/build-docs.sh
        language: system
        pass_filenames: false
        types: [python, yaml, markdown]
        stages: [pre-push]

fix(ci): bootstrap CI venv in lint-yaml job before running yamllint
  .github/workflows/static-analysis.yml
Due: lint-yaml

docs: create activity-log structure for mechanized session capture
  temple/docs/activity-log/MECHANIZATION.md
  temple/docs/activity-log/README.md
  temple/docs/activity-log/TEMPLATE.md
Due: validate-readme-structure

fix(parser): handle else-if conditions with trim-aware whitespace
  temple-linter/tests/test_diagnostic_converter.py
  temple/src/temple/lark_parser.py
  temple/tests/test_lark_parser_advanced.py
Due: lint-python, test-python-affected, validate-benchmarks

chore(backlog): finalize and archive MVP work items
  backlog/README.md
  backlog/archive/44_implement_semantic_validation.md
  backlog/archive/45_implement_lsp_language_features.md
  backlog/archive/46_integration_and_performance_tests.md
  backlog/archive/47_documentation_updates_for_core_integration.md
  backlog/archive/52_parity_tests_and_ci.md
  backlog/archive/53_publish_adr_and_spec.md
  backlog/archive/54_complete_temple_native.md
  backlog/archive/55_adapter_spec_impl.md
  backlog/archive/56_jinja2_adapter_prototype.md
  backlog/archive/57_vscode_packaging_and_init_contract_hardening.md
  backlog/archive/58_mvp_release_readiness_docs_and_metadata.md
Due: validate-readme-structure

refactor(linter): add core span metadata cleaning contract
  temple-linter/src/temple_linter/services/base_cleaning_contract.py
  temple-linter/src/temple_linter/services/base_cleaning_policies.py
  temple-linter/src/temple_linter/services/token_cleaning_service.py
  temple/src/temple/defaults.py
  temple/src/temple/template_spans.py
  temple/tests/test_template_spans.py
Due: lint-python, test-python-affected, validate-benchmarks

refactor: modernize CI/CD and dependency management with uv and pyproject.toml
  .github/workflow-templates/node-setup.yml
  .github/workflow-templates/python-job.yml
  .github/workflow-templates/python-setup.yml
  .github/workflows/asv_publish.yml
  .github/workflows/auto_resolve_reviews.yml
  .github/workflows/benchmarks.yml
  .github/workflows/codeql.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/docs.yml
  .github/workflows/eslint.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  temple-linter/pyproject.toml
  temple.code-workspace
  temple/pyproject.toml
Due: lint-yaml

test(parity): add native-vs-adapter parity suite
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  backlog/52_parity_tests_and_ci.md
  scripts/pre-commit/test-temple-parity.sh
  temple/tests/parity/fixtures/filter_argument_undefined.tmpl
  temple/tests/parity/fixtures/manifest.json
  temple/tests/parity/fixtures/missing_property.tmpl
  temple/tests/parity/fixtures/undefined_variable.tmpl
  temple/tests/parity/fixtures/valid_pipeline.tmpl
  temple/tests/parity/test_native_vs_jinja2_parity.py
Due: lint-yaml, validate-readme-structure, lint-python, test-python-affected, validate-benchmarks

chore(vscode): add extension publisher metadata
  vscode-temple-linter/package.json
Due: none

fix(ci): set working-directory for ASV commands in benchmarks workflow
  .github/workflows/benchmarks.yml
Due: lint-yaml

ci(docs): scope readme-structure validation to in-scope files
  .github/workflows/static-analysis.yml
  .pre-commit-config.yaml
  scripts/docs/sync_readme_structure.py
Due: lint-yaml, lint-python, test-python-affected, validate-benchmarks

chore: finalize work item #70 - Jinja2 operator translation complete
  backlog/70_fix_jinja2_compare_operator_translation.md
Due: validate-readme-structure

ci(workflows): add vscode package validation to static analysis
  .github/workflows/static-analysis.yml
  .pre-commit-config.yaml
  scripts/pre-commit/validate-vscode-package.sh
Due: lint-yaml

docs(workflow): align setup and vscode dev tooling
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CONTRIBUTING.md
  README.md
  backlog/69_align_docs_linting_and_vscode_workflow.md
  vscode-temple-linter/README.md
Due: validate-readme-structure

feat(temple): add typed filter pipeline support
  backlog/54_complete_temple_native.md
  temple/src/temple/__init__.py
  temple/src/temple/compiler/type_checker.py
  temple/src/temple/expression_eval.py
  temple/src/temple/filter_registry.py
  temple/tests/test_filter_registry.py
  temple/tests/test_mvp_language_core.py
  temple/tests/types/test_type_checker.py
Due: validate-readme-structure, lint-python, test-python-affected, validate-benchmarks

chore(backlog): track item 67 implementation progress
  backlog/67_fix_lsp_base_diagnostics_transport.md
Due: validate-readme-structure

ci(tests): split test jobs and fix local package wiring
  .github/workflows/tests.yml
  scripts/ci/pyproject.toml
  temple-linter/pyproject.toml
  temple/pyproject.toml
Due: lint-yaml

ci(workflows): consolidate analysis workflows and fix CI wiring
  .github/actions/setup-node/action.yml
  .github/actions/setup-python/action.yml
  .github/scripts/configure_asv_machine.sh
  .github/workflow-templates/node-setup.yml
  .github/workflow-templates/python-job.yml
  .github/workflow-templates/python-setup.yml
  .github/workflows/.yamllint
  .github/workflows/asv_publish.yml
  .github/workflows/auto_resolve_reviews.yml
  .github/workflows/benchmarks.yml
  .github/workflows/codeql.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/docs.yml
  .github/workflows/eslint.yml
  .github/workflows/static-analysis.yml
  .pre-commit-config.yaml
  .yamllint
  scripts/pre-commit/collect-runner-info.sh
  scripts/pre-commit/lint-docs.sh
  scripts/pre-commit/lint-js.sh
  scripts/pre-commit/lint-python.sh
  scripts/pre-commit/lint-yaml.sh
  scripts/pre-commit/test-python.sh
Due: lint-yaml

fix(temple-linter): align lsp entrypoint and packaging
  backlog/64_fix_linter_packaging_entrypoints.md
  temple-linter/pyproject.toml
  temple-linter/setup.py
  temple-linter/src/temple_linter/lsp_server.py
  temple-linter/tests/test_lsp_entrypoint.py
Due: validate-readme-structure, lint-python, test-python-affected, validate-benchmarks

fix(linter): improve diagnostic clarity and dedupe behavior
  temple-linter/src/temple_linter/diagnostic_converter.py
  temple-linter/src/temple_linter/linter.py
  temple-linter/src/temple_linter/services/lint_orchestrator.py
  temple-linter/src/temple_linter/services/token_cleaning_service.py
  temple-linter/tests/test_diagnostic_converter.py
  temple-linter/tests/test_integration.py
  temple-linter/tests/test_linter.py
  temple-linter/tests/test_lsp_transport_wiring.py
Due: lint-python, test-python-affected, validate-benchmarks

feat(sdk): add adapter interface contracts and tests
  backlog/55_adapter_spec_impl.md
  temple/src/temple/sdk/__init__.py
  temple/src/temple/sdk/adapter.py
  temple/tests/test_adapter_sdk.py
Due: validate-readme-structure, lint-python, test-python-affected, validate-benchmarks

docs(backlog): finalize and archive work items 57-62
  backlog/archive/57_fix_ci_workflow_wiring.md
  backlog/archive/58_fix_scripts_ci_pyproject_dependency_spec.md
  backlog/archive/59_split_tests_workflow_jobs.md
  backlog/archive/60_narrow_python_lint_scope.md
  backlog/archive/61_fix_temple_linter_packaged_grammar.md
  backlog/archive/62_update_auto_resolve_workflow_triggers.md
Due: validate-readme-structure

fix(vscode): collocate mirror ghost files and clean lifecycle
  vscode-temple-linter/package.json
  vscode-temple-linter/src/extension.ts
  vscode-temple-linter/test/suite/integration.test.js
Due: none

chore(backlog): add work item 78 and finalize item 76
  backlog/78_add_author_controlled_whitespace_trim_tokens.md
  backlog/README.md
  backlog/archive/76_generalize_focus_mode_and_diagnostic_hygiene_across_base_types.md
Due: validate-readme-structure

docs(planning): add ADR-005 and base-lint execution backlog
  README.md
  backlog/73_lock_base_lint_strategy_and_publish_adr_005.md
  backlog/74_implement_base_lint_strategy_resolver_and_capability_registry.md
  backlog/75_implement_collocated_mirror_ghost_files_and_diagnostic_remap.md
  backlog/76_generalize_focus_mode_and_diagnostic_hygiene_across_base_types.md
  backlog/77_add_base_lint_queueing_adaptive_debounce_and_observability.md
  backlog/README.md
  temple/docs/ARCHITECTURE.md
  temple/docs/adr/005-base-lint-strategy-and-diagnostics-pipeline.md
Due: validate-readme-structure

chore(backlog): update shadow-bridge status and PR traceability
  backlog/86_disable_auto_reassociation_and_lock_template_language_identity.md
  backlog/87_align_manifest_docs_and_integration_tests_for_templated_any.md
  backlog/88_validate_diagnostics_pipeline_and_prepare_patch_release.md
  backlog/89_implement_projection_snapshots_for_shadow_bridge.md
  backlog/90_implement_shadow_document_lifecycle_and_diagnostic_ownership.md
  backlog/91_proxy_base_language_lsp_features_with_edit_safety.md
  backlog/92_add_templated_format_language_ids_and_generated_grammars.md
  backlog/93_harden_transport_timeouts_and_watched_files_noise.md
  backlog/94_define_parity_matrix_and_pr_scope_for_shadow_bridge_rollout.md
  backlog/95_run_unsandboxed_vscode_parity_validation_and_close_shadow_bridge.md
Due: validate-readme-structure

chore(backlog): attach latest commit refs to shadow-bridge items
  backlog/88_validate_diagnostics_pipeline_and_prepare_patch_release.md
  backlog/89_implement_projection_snapshots_for_shadow_bridge.md
  backlog/90_implement_shadow_document_lifecycle_and_diagnostic_ownership.md
  backlog/91_proxy_base_language_lsp_features_with_edit_safety.md
  backlog/92_add_templated_format_language_ids_and_generated_grammars.md
  backlog/93_harden_transport_timeouts_and_watched_files_noise.md
  backlog/94_define_parity_matrix_and_pr_scope_for_shadow_bridge_rollout.md
  backlog/95_run_unsandboxed_vscode_parity_validation_and_close_shadow_bridge.md
Due: validate-readme-structure

fix(ci): checkout before local actions and refresh secrets baseline
  .github/workflows/benchmarks.yml
  .github/workflows/docs.yml
  .github/workflows/static-analysis.yml
  .github/workflows/tests.yml
  .secrets.baseline
Due: lint-yaml

fix(ci): use system python for uv pip installs
  .github/actions/setup-python/action.yml
  .github/workflows/tests.yml
Due: lint-yaml

chore(backlog): update work item 95 implementation evidence
  backlog/95_run_unsandboxed_vscode_parity_validation_and_close_shadow_bridge.md
Due: validate-readme-structure

fix(ci): repair docs bootstrap and ci-env packaging
  .github/workflows/docs.yml
  scripts/ci/pyproject.toml
Due: lint-yaml

fix(ci): unblock root and docs checks
  scripts/ci/pyproject.toml
  temple-linter/docs/api.rst
Due: none

fix(review): address unresolved PR feedback
  .github/actions/setup-python/action.yml
  .github/scripts/configure_asv_machine.sh
  .pre-commit-config.yaml
  scripts/pre-commit/test-python.sh
  temple-linter/src/temple_linter/diagnostic_converter.py
  tests/test_sync_readme_structure.py
  vscode-temple-linter/scripts/generate-defaults.js
Due: lint-yaml, lint-python, test-python-affected, validate-benchmarks

chore(ci): clean workflow lint and hook wiring
  .github/actions/setup-python/action.yml
  .github/workflows/.yamllint
  .pre-commit-config.yaml
Due: lint-yaml

fix(review): close remaining portability feedback
  scripts/pre-commit/test-python.sh
  temple-linter/src/temple_linter/services/base_cleaning_policies.py
  temple-linter/tests/test_lsp_entrypoint.py
  temple-linter/tests/test_projection_snapshot.py
  vscode-temple-linter/scripts/generate-defaults.js
Due: lint-python, test-python-affected, validate-benchmarks

fix(ci): avoid secrets context in job-level if
  .github/workflows/static-analysis.yml
Due: lint-yaml

fix(ci): gate baseline job on detect-secrets result
  .github/workflows/static-analysis.yml
Due: lint-yaml

fix(ci): remove baseline automation from static analysis
  .github/workflows/static-analysis.yml
Due: lint-yaml

fix(ci): stabilize static analysis checks
  .github/workflows/static-analysis.yml
  examples/.structure-notes.yaml
  examples/README.md
Due: lint-yaml, validate-readme-structure

fix(ci): simplify markdown structure validation step
  .github/workflows/static-analysis.yml
Due: lint-yaml
