Repository squirrel289/temple: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, validate-readme-structure, lint-python, lint-js, test-python-affected, validate-benchmarks, build-docs

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: lint-shell
        name: "lint: shell (bash -n)"
        entry: bash -n
        language: system
        pass_filenames: true
        types: [shell]
        stages: [pre-push]

      - id: lint-yaml
        name: "lint: yaml (yamllint)"
        entry: scripts/pre-commit/lint-yaml.sh
        language: system
        pass_filenames: true
        types: [yaml]
        stages: [pre-commit]

      - id: validate-readme-structure
        name: "docs: confirm markdown structure blocks match current state (sync_readme_structure.py)"
        entry: python3 scripts/docs/sync_readme_structure.py --check
        language: system
        pass_filenames: true
        files: \.md$
        stages: [pre-commit, pre-push]

      - id: lint-python
        name: "lint: python (ruff)"
        entry: scripts/pre-commit/lint-python.sh
        language: system
        pass_filenames: true
        types: [python]
        stages: [pre-commit]

      - id: lint-js
        name: "lint: js/ts (ESLint)"
        entry: bash -c "cd vscode-temple-linter && npx eslint"
        language: system
        pass_filenames: true
        types: [javascript]
        files: ^vscode-temple-linter/src/.*\.ts$
        stages: [pre-commit]

      - id: validate-vscode-package
        name: "validate: vscode extension package"
        entry: scripts/pre-commit/validate-vscode-package.sh
        language: system
        pass_filenames: false
        stages: [pre-push]

      - id: secure-secrets-scan
        name: "secure: secrets scan (detect-secrets)"
        entry: scripts/pre-commit/secure-find-secrets.sh
        language: system
        pass_filenames: true
        stages: [pre-commit]

      - id: test-python-affected
        name: "test: python (pytest)"
        entry: scripts/pre-commit/test-python.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]

      - id: validate-benchmarks
        name: "validate: benchmarks quick"
        entry: scripts/pre-commit/validate-benchmarks.sh
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-push]

      - id: build-docs
        name: "build: docs (sphinx)"
        entry: scripts/pre-commit/build-docs.sh
        language: system
        pass_filenames: false
        types: [python, yaml, markdown]
        stages: [pre-push]

feat(temple): add mvp set elif and expression support
  backlog/65_complete_temple_native_language_core.md
  temple/src/temple/compiler/serializers/base.py
  temple/src/temple/compiler/serializers/html_serializer.py
  temple/src/temple/compiler/serializers/json_serializer.py
  temple/src/temple/compiler/serializers/markdown_serializer.py
  temple/src/temple/compiler/serializers/yaml_serializer.py
  temple/src/temple/compiler/type_checker.py
  temple/src/temple/expression_eval.py
  temple/src/temple/lark_parser.py
  temple/src/temple/typed_ast.py
  temple/src/temple/typed_grammar.lark
  temple/tests/test_mvp_language_core.py
Due: validate-readme-structure, lint-python, test-python-affected, validate-benchmarks

feat(vscode): add strategy resolver and generated temple grammars
  vscode-temple-linter/.vscodeignore
  vscode-temple-linter/README.md
  vscode-temple-linter/package-lock.json
  vscode-temple-linter/package.json
  vscode-temple-linter/scripts/generate-syntaxes.js
  vscode-temple-linter/src/extension.ts
  vscode-temple-linter/syntaxes/templated-any.tmLanguage.json
  vscode-temple-linter/syntaxes/temple.injection.tmLanguage.json
  vscode-temple-linter/test/runTest.js
  vscode-temple-linter/test/suite/index.js
  vscode-temple-linter/test/suite/integration.test.js
Due: validate-readme-structure

fix(adapters): translate Jinja2 compare operators to Python syntax
  temple/src/temple/adapters/jinja2_adapter.py
  temple/tests/test_jinja2_adapter.py
Due: lint-python, test-python-affected, validate-benchmarks

chore(backlog): track item 68 implementation progress
  backlog/68_repair_vscode_extension_integration.md
Due: validate-readme-structure

chore(backlog): track item 69 implementation progress
  backlog/69_align_docs_linting_and_vscode_workflow.md
Due: validate-readme-structure

feat(shadow-bridge): add projection-backed base LSP bridge
  .github/copilot-instructions.md
  ARCHITECTURE_ANALYSIS.md
  backlog/86_disable_auto_reassociation_and_lock_template_language_identity.md
  backlog/87_align_manifest_docs_and_integration_tests_for_templated_any.md
  backlog/88_validate_diagnostics_pipeline_and_prepare_patch_release.md
  backlog/89_implement_projection_snapshots_for_shadow_bridge.md
  backlog/90_implement_shadow_document_lifecycle_and_diagnostic_ownership.md
  backlog/91_proxy_base_language_lsp_features_with_edit_safety.md
  backlog/92_add_templated_format_language_ids_and_generated_grammars.md
  backlog/93_harden_transport_timeouts_and_watched_files_noise.md
  backlog/94_define_parity_matrix_and_pr_scope_for_shadow_bridge_rollout.md
  backlog/95_run_unsandboxed_vscode_parity_validation_and_close_shadow_bridge.md
  temple-linter/README.md
  temple-linter/src/temple_linter/lsp_server.py
  temple-linter/src/temple_linter/services/base_cleaning_contract.py
  temple-linter/src/temple_linter/services/base_cleaning_policies.py
  temple-linter/src/temple_linter/services/base_linting_service.py
  temple-linter/src/temple_linter/services/diagnostic_mapping_service.py
  temple-linter/src/temple_linter/services/lint_orchestrator.py
  temple-linter/src/temple_linter/services/projection_snapshot.py
  temple-linter/src/temple_linter/services/token_cleaning_service.py
  temple-linter/tests/test_base_linting_service.py
  temple-linter/tests/test_lsp_mvp_smoke.py
  temple-linter/tests/test_projection_snapshot.py
  temple/docs/adr/006-template-language-identity-and-diagnostic-ownership.md
  vscode-temple-linter/README.md
  vscode-temple-linter/package.json
  vscode-temple-linter/scripts/generate-syntaxes.js
  vscode-temple-linter/src/extension.ts
  vscode-temple-linter/syntaxes/templ-any.tmLanguage.json
  vscode-temple-linter/syntaxes/templ-html.tmLanguage.json
  vscode-temple-linter/syntaxes/templ-json.tmLanguage.json
  vscode-temple-linter/syntaxes/templ-markdown.tmLanguage.json
  vscode-temple-linter/syntaxes/templ-toml.tmLanguage.json
  vscode-temple-linter/syntaxes/templ-xml.tmLanguage.json
  vscode-temple-linter/syntaxes/templ-yaml.tmLanguage.json
  vscode-temple-linter/test/suite/integration.test.js
Due: validate-readme-structure, lint-python, test-python-affected, validate-benchmarks

feat(docs): add include overrides and strict marker parsing
  scripts/docs/sync_readme_structure.py
  temple-linter/.structure-notes.yaml
  temple-linter/README.md
  temple-linter/uv.lock
  tests/test_sync_readme_structure.py
Due: lint-yaml, validate-readme-structure, lint-python, test-python-affected, validate-benchmarks

refactor(linter): retire legacy preprocessing and mapping modules
  temple-linter/src/temple_linter/base_format_linter.py
  temple-linter/src/temple_linter/diagnostics.py
  temple-linter/src/temple_linter/template_mapping.py
  temple-linter/src/temple_linter/template_preprocessing.py
  temple-linter/tests/test_base_format_linter.py
  temple-linter/tests/test_diagnostics.py
  temple-linter/tests/test_preprocessing.py
Due: lint-python, test-python-affected, validate-benchmarks

docs(backlog): reduce README to essential guidance
  backlog/README.md
Due: validate-readme-structure

feat(core): anchor trim semantics and dedupe whitespace controls
  backlog/78_add_author_controlled_whitespace_trim_tokens.md
  temple-linter/src/temple_linter/services/token_cleaning_service.py
  temple-linter/tests/test_integration.py
  temple/src/temple/lark_parser.py
  temple/src/temple/template_renderer.py
  temple/src/temple/template_tokenizer.py
  temple/src/temple/typed_grammar.lark
  temple/src/temple/whitespace_control.py
  temple/tests/test_mvp_language_core.py
  temple/tests/test_template_renderer.py
  temple/tests/test_tokenizer.py
Due: validate-readme-structure, lint-python, test-python-affected, validate-benchmarks

chore(release): add license metadata and MVP release docs
  CHANGELOG.md
  LICENSE
  README.md
  backlog/58_mvp_release_readiness_docs_and_metadata.md
  temple-linter/README.md
  temple-linter/pyproject.toml
  temple/pyproject.toml
  vscode-temple-linter/README.md
Due: validate-readme-structure

feat(vscode): harden LSP init contract and packaging checks
  backlog/57_vscode_packaging_and_init_contract_hardening.md
  temple-linter/src/temple_linter/lsp_server.py
  temple-linter/tests/test_lsp_mvp_smoke.py
  vscode-temple-linter/package.json
  vscode-temple-linter/src/extension.ts
Due: validate-readme-structure, lint-python, test-python-affected, validate-benchmarks

chore(backlog): track MVP hardening commits across work items
  backlog/44_implement_semantic_validation.md
  backlog/45_implement_lsp_language_features.md
  backlog/46_integration_and_performance_tests.md
  backlog/47_documentation_updates_for_core_integration.md
  backlog/57_vscode_packaging_and_init_contract_hardening.md
  backlog/58_mvp_release_readiness_docs_and_metadata.md
Due: validate-readme-structure

chore: finalize work item #72 - CI venv bootstrap complete
  backlog/72_bootstrap_ci_venv_before_yaml_lint.md
Due: validate-readme-structure

chore(backlog): finalize work item 64
  backlog/archive/64_fix_linter_packaging_entrypoints.md
Due: validate-readme-structure

feat(temple-linter): integrate semantic diagnostics
  backlog/66_integrate_semantic_validation_in_temple_linter.md
  temple-linter/src/temple_linter/linter.py
  temple-linter/src/temple_linter/services/lint_orchestrator.py
  temple-linter/tests/test_semantic_linter.py
Due: validate-readme-structure, lint-python, test-python-affected, validate-benchmarks

chore(backlog): finalize and archive work item 77
  backlog/78_add_author_controlled_whitespace_trim_tokens.md
  backlog/README.md
  backlog/archive/77_add_base_lint_queueing_adaptive_debounce_and_observability.md
Due: validate-readme-structure

feat(temple-linter): add native LSP providers and perf checks
  .github/workflows/tests.yml
  backlog/45_implement_lsp_language_features.md
  backlog/46_integration_and_performance_tests.md
  temple-linter/src/temple_linter/lsp_features.py
  temple-linter/src/temple_linter/lsp_server.py
  temple-linter/tests/test_e2e_performance.py
  temple-linter/tests/test_lsp_features.py
  temple/src/temple/lark_parser.py
Due: lint-yaml, validate-readme-structure, lint-python, test-python-affected, validate-benchmarks

chore(backlog): track item 66 implementation progress
  backlog/66_integrate_semantic_validation_in_temple_linter.md
Due: validate-readme-structure

refactor(lsp): align feature spans with core metadata
  temple-linter/src/temple_linter/lsp_features.py
  temple-linter/tests/test_lsp_features.py
Due: lint-python, test-python-affected, validate-benchmarks

chore(backlog): finalize and archive work item 73
  backlog/74_implement_base_lint_strategy_resolver_and_capability_registry.md
  backlog/README.md
  backlog/archive/73_lock_base_lint_strategy_and_publish_adr_005.md
  temple/docs/adr/005-base-lint-strategy-and-diagnostics-pipeline.md
Due: validate-readme-structure

chore(backlog): finalize and archive work item 75
  backlog/76_generalize_focus_mode_and_diagnostic_hygiene_across_base_types.md
  backlog/77_add_base_lint_queueing_adaptive_debounce_and_observability.md
  backlog/README.md
  backlog/archive/75_implement_collocated_mirror_ghost_files_and_diagnostic_remap.md
Due: validate-readme-structure

docs(release): publish ADR-003 and adapter spec notes
  CHANGELOG.md
  backlog/53_publish_adr_and_spec.md
  temple/docs/release/ADR003_ADAPTER_SPEC_ANNOUNCEMENT.md
Due: validate-readme-structure

chore(backlog): finalize and archive work item 78
  backlog/archive/78_add_author_controlled_whitespace_trim_tokens.md
Due: validate-readme-structure

feat(adapters): add jinja2 adapter prototype
  backlog/56_jinja2_adapter_prototype.md
  temple/src/temple/adapters/__init__.py
  temple/src/temple/adapters/jinja2_adapter.py
  temple/tests/test_jinja2_adapter.py
Due: validate-readme-structure, lint-python, test-python-affected, validate-benchmarks

chore(backlog): finalize and archive work item 74
  backlog/75_implement_collocated_mirror_ghost_files_and_diagnostic_remap.md
  backlog/76_generalize_focus_mode_and_diagnostic_hygiene_across_base_types.md
  backlog/77_add_base_lint_queueing_adaptive_debounce_and_observability.md
  backlog/README.md
  backlog/archive/74_implement_base_lint_strategy_resolver_and_capability_registry.md
Due: validate-readme-structure

feat(defaults): add generated defaults sync and drift checks
  .github/workflows/static-analysis.yml
  .pre-commit-config.yaml
  scripts/pre-commit/validate-generated-defaults.sh
  shared/temple-defaults.json
  temple-linter/src/temple_linter/lsp_server.py
  temple-linter/src/temple_linter/services/base_linting_service.py
  temple-linter/src/temple_linter/services/lint_orchestrator.py
  temple-linter/tests/test_lsp_mvp_smoke.py
  temple-linter/tests/test_semantic_linter.py
  temple/src/temple/__init__.py
  temple/src/temple/defaults.py
  temple/src/temple/template_tokenizer.py
  vscode-temple-linter/package.json
  vscode-temple-linter/scripts/generate-defaults.js
  vscode-temple-linter/src/defaults.ts
  vscode-temple-linter/src/extension.ts
Due: lint-yaml, lint-python, test-python-affected, validate-benchmarks

perf(lsp): debounce base lint and guard slow bridge requests
  temple-linter/src/temple_linter/lsp_server.py
  temple-linter/src/temple_linter/services/base_linting_service.py
  temple-linter/tests/test_base_linting_service.py
  temple-linter/tests/test_e2e_performance.py
  temple-linter/tests/test_lsp_mvp_smoke.py
Due: lint-python, test-python-affected, validate-benchmarks

chore(backlog): start work item 74
  backlog/74_implement_base_lint_strategy_resolver_and_capability_registry.md
Due: validate-readme-structure

docs(repo): automate markdown structure trees with scoped notes
  .github/workflows/static-analysis.yml
  .pre-commit-config.yaml
  backlog/47_documentation_updates_for_core_integration.md
  examples/.structure-notes.yaml
  examples/README.md
  scripts/docs/sync_readme_structure.py
  scripts/pre-commit/test-python.sh
  temple-linter/.structure-notes.yaml
  temple-linter/README.md
  vscode-temple-linter/.structure-notes.yaml
  vscode-temple-linter/README.md
Due: lint-yaml, validate-readme-structure, lint-python, test-python-affected, validate-benchmarks

chore(backlog): update items 45-47 with commit and test metadata
  backlog/45_implement_lsp_language_features.md
  backlog/46_integration_and_performance_tests.md
  backlog/47_documentation_updates_for_core_integration.md
Due: validate-readme-structure

chore(backlog): track item 65 implementation progress
  backlog/65_complete_temple_native_language_core.md
Due: validate-readme-structure

ci(tooling): stabilize hook and workflow command execution
  .github/workflows/auto_resolve_reviews.yml
  .github/workflows/benchmarks.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  backlog/63_stabilize_uv_tooling_and_ci_commands.md
  backlog/64_fix_linter_packaging_entrypoints.md
  backlog/65_complete_temple_native_language_core.md
  backlog/66_integrate_semantic_validation_in_temple_linter.md
  backlog/67_fix_lsp_base_diagnostics_transport.md
  backlog/68_repair_vscode_extension_integration.md
  backlog/69_align_docs_linting_and_vscode_workflow.md
  scripts/ci/venv_utils.sh
  scripts/pre-commit/lint-docs.sh
  scripts/pre-commit/lint-python.sh
  scripts/pre-commit/lint-yaml.sh
Due: lint-yaml, validate-readme-structure

chore(backlog): finalize work item 63
  backlog/archive/63_stabilize_uv_tooling_and_ci_commands.md
Due: validate-readme-structure

fix(vscode): simplify extension integration wiring
  backlog/68_repair_vscode_extension_integration.md
  vscode-temple-linter/src/extension.ts
Due: validate-readme-structure

chore(backlog): finalize work items 65-69
  backlog/archive/65_complete_temple_native_language_core.md
  backlog/archive/66_integrate_semantic_validation_in_temple_linter.md
  backlog/archive/67_fix_lsp_base_diagnostics_transport.md
  backlog/archive/68_repair_vscode_extension_integration.md
  backlog/archive/69_align_docs_linting_and_vscode_workflow.md
Due: validate-readme-structure

fix(temple-linter): bind base diagnostics to session transport
  backlog/67_fix_lsp_base_diagnostics_transport.md
  temple-linter/src/temple_linter/lsp_server.py
  temple-linter/src/temple_linter/services/base_linting_service.py
  temple-linter/src/temple_linter/services/lint_orchestrator.py
  temple-linter/tests/test_lsp_transport_wiring.py
Due: validate-readme-structure, lint-python, test-python-affected, validate-benchmarks

docs: add backlog entries for Jinja2 compare op, ASV workflow, and CI venv bugs discovered by local codex code review
  backlog/70_fix_jinja2_compare_operator_translation.md
  backlog/71_fix_asv_workflow_execution_context.md
  backlog/72_bootstrap_ci_venv_before_yaml_lint.md
Due: validate-readme-structure

chore(backlog): finalize and archive work items 80-85
  backlog/archive/80_replace_linter_regex_line_parsing_with_core_token_span_metadata.md
  backlog/archive/81_align_lsp_feature_span_detection_with_trim_aware_core_scanning.md
  backlog/archive/82_remove_regex_else_if_extraction_and_parse_from_grammar_nodes.md
  backlog/archive/83_retire_legacy_template_preprocessing_and_template_mapping_modules.md
  backlog/archive/84_define_base_cleaning_contract_and_markdown_policy_adapter.md
  backlog/archive/85_centralize_temple_default_delimiters_and_extensions_across_layers.md
Due: validate-readme-structure

feat(semantic): seed type checker from schema for lint diagnostics
  backlog/44_implement_semantic_validation.md
  temple-linter/tests/test_semantic_linter.py
  temple/src/temple/compiler/type_checker.py
  temple/tests/types/test_type_checker.py
Due: validate-readme-structure, lint-python, test-python-affected, validate-benchmarks
